<header class="site-header">
  <h1>Publisher's Library Hub</h1>
  <nav class="main-nav">
    <a href="/dashboard">Dashboard</a>
    <a href="/books">Books</a>
    <a href="/book-pdfs">Book PDFs</a>
    <a href="/all-books">All User's Books</a>
    <a href="/users/books">All Users' Books(PDF)</a>
    <a href="/logout">Logout</a>
  </nav>

</header>
