<nav>
  <ul>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/books">My Books</a></li>
    <li><a href="/book-pdfs">My Book PDFs</a></li>
    <li><a href="/users/books">All Users' Books</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>
