<!DOCTYPE html>
<html>
  <head>
    <title>Bassey Publisher's Library Hub</title>
    
  </head>
  <body>


    <div class="index-container">
      <h1 class="welcome-title">Welcome to Bassey Publisher's Library Hub</h1>
      <p class="welcome-desc">
        You must sign in with Google to access the website.
      </p>
      <a href="/auth/google">
        <button class="button google-signin">Sign In with Google</button>
      </a>
    </div>

   
  </body>
</html>
