<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title || "Publisher's Library Hub" %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/x-icon" href="public/css/favicon.ico">
  
  <%- include('partials/header') %>
  <main>
    <%- body %>
  </main>
  <%- include('partials/footer') %>
</body>
</html>